/* Global CSS */
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.container-wrapper{
    width: 100%;
}
.container{
    margin: 0 10%;
}
.flex{
    display: flex;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
a{
    text-decoration: none;
    color: inherit;
}
.vmiddle{
    margin: auto 0;
}

/* Header Section */

#header{
    box-shadow: 0 1px rgba(0,0,0,.2);
    padding-top: 10px;
    padding-bottom: 20px;
    z-index: 9999;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

.nav ul{
    list-style-type: none;
}
.menu-item a{
    text-decoration: none;
    color: #202020;
    font-size: 18px;
}
.menu-item a:hover{
    color: red;
}
.logo{
    width: 10%;
}
.logo img{
    max-width: 120px;
}
.nav{
    width: 90%;
    margin: auto 0;
}

.nav ul li{
    margin-right: 10px;
}
.nav ul li:last-child{
    margin-right: 0px;
}
.dropdown{
    display: none;
    padding: 10px;
    width: 200px;
    background-color: aliceblue;
}
.dropdown-parent{
    position: relative;
}
.dropdown-parent:hover .dropdown{
    position: absolute;
    display: block;
    left: -10px;
    top: 20px;
}
.dropdown-item{
    color: #202020;
    margin: 10px 0;
}
.dropdown-item a:hover{
    background-color: blueviolet;
    color: white;
}

/* Breadcrumb Section */
#breadcrumb{
    background-color: #FFE078;
    padding: 50px 0;
}
.breadcrumb p, h1{
    color: rgba(12, 89, 107, 1);
}
.breadcrumb p{
    margin-bottom: 20px;
}
.breadcrumb h1{
    font-family: Montserrat, Arial;
    color: #0c596b;
    font-size: 36px;
}

/* contact-details */
.contact-details{
    padding-top: 50px;
    padding-bottom: 80px;
}
.contact-info{
    margin-top: 50px;
    font-size: 16px;
}
.icon{
    margin-right:20px;
    border: 3px solid #FFE078;
    font-size: 16px;
    padding: 10px;
    border-radius: 50%;
    color: #0c596b;
}
.text h4{
    margin-bottom: 30px;
    color: #202020;
    text-decoration: underline;
    font-weight: 700;
}
.text p, a{
    color: #202020;
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
}
.text a{
    color: #0c596b;
}
.phone, .mail{
    margin-right: 40px;
    width: 27%;
}
.office{
    margin-left: 30px;
}
.img{
    width: 50%;
    padding-right: 20px;
}
.img img{
    max-width: 100%;
}
.form-wrapper{
    width: 50%;
    padding-left: 20px;
}
.form-wrapper h2{
    color: #0c596b;
    text-align: center;
    font-size: 36px;
    padding-bottom: 40px;
}
.form label{
    margin-bottom: 10px;
}
.form input, textarea{
    width: 35vw;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #cacaca;
    outline: none;
    border: none;
}
.form input:focus, .form textarea:focus{
    background-color: #FFF;
    border: 3px solid #FFE078 !important;
    border-radius: 5px;
}

.form button{
    padding: 10px 30px;
    background-color: #0c596b;
    color: #FFF;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}
.form button:hover{
    background-color: #FFE078;
    cursor: pointer;
}

/* Footer Section */

#footer{
    background-color: #0c596b;
    padding-top: 60px;
    margin-top: 80px;
}
.footer-description img{
    height: 40px;
    width: 50px;
}
.footer{
    padding-bottom: 50px;
    border-bottom: 1px solid #FFF;
}
.footer-text p{
    color: #FFF;
    opacity: .5;
}
.footer-description{
    width: 33%;
    padding-right: 20px;
}
.footer-text{
    margin-top: 20px;
}
.social-icons{
    margin-top: 20px;
}
.footer-contact{
    width: 33%;
    color: #FFF;
}
.footer-contact a{
    color: #6c98e1;
    font-size: 15px;
    line-height: 20px;
}
.social-icon{
    display: block;
    margin-right: 10px;
    color: #002e5b;
    background-color: #FFF;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 16px;
    opacity: .5;
    text-align: center;
}
.social-icon:hover{
    opacity: 1;
}
.social-icon i{
    margin-top: 8px;
}
.important-links{
    width: 33%;
}
.important-links h2{
    font-size: 36px;
    color: #FFF;
    font-family: montserrat, arial;

}
.lists{
    margin-top: 30px;
}
.list-1{
    width: 50%;
}
.lists ul{
    list-style-type: none;
}
.lists ul li{
    margin: 0 0 20px;
}
.lists ul li a{
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
    color: #6c98e1;
    font-family: montserrat, arial;
}
.lists ul li a:hover{
    text-decoration: underline;
}
.copyright{
    color: #FFF;
    opacity: 0.5;
    text-align: center;
    font-size: 13px;
    padding: 20px;
}
.copyright a{
    color: #FFF;
    text-align: center;
    font-size: 13px;
}
